<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMN DOCUMENTATION</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFEEAD;">
        <div class="container-fluid">
            <div class="me-auto mb-2 mb-lg-0">
                <a class="navbar-brand heading2" href="#home">
                <img src="/content/logo_umndoc.jpeg" alt="" width="30" height="30" class="d-inline-block align-text-top" style="border-radius: 100%;">
                UMN DOCUMENTATION
                </a>
            </div>
            

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-content" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#portofolio">Our Portfolio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="home" class="container-md homeBackground">
        <div class="title">
            <h2 id="homeTxt" class="heading2 homeText" ></h2>
            <h1 class="titleText fadeIn">#BUKANDOKUMBIASA</h1>
        </div>
    </section>

    <section id="about" class="container-md">
        <div class="aboutHeading">
            <h1 class="heading1">WHO ARE WE?</h1>
        </div>
        <div class="aboutText">
            <p>UMN Documentation (UMN DOC) adalah organisasi multimedia dan broadcasting di bawah naungan Lab Broadcast UMN yang berperan penting dalam dokumentasi dan siaran langsung berbagai acara kampus. Dengan rekam jejak di acara besar seperti Wisuda UMN, Sidang Terbuka Senat: Kuliah Perdana, PEKANTARA, simulasi kebencanaan, konser-konser sampai beberapa seminar dan talkshow, UMN DOC menjadi saksi visual dari setiap momen penting di UMN.</p>
        </div>
    </section>

    <section id="skills" container-md>
        <h1 class="heading1 skillsHeading">OUR SKILLS</h1>
        <div class="row skillsRow">
            <div class="col-lg-3 col-md-6 skillCard">
                <img src="/content/icons/1-video.png" alt="Videography Icon" class="icon skillImage1">
                <h3 class="skillTitle">Videography</h3>
                <p class="skillDescription hidden">
                     Merekam momen melalui video berkualitas untuk kebutuhan dokumentasi dan publikasi.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 skillCard">
                <img src="/content/icons/2-photo.png" alt="Photography Icon" class="icon skillImage2">
                <h3 class="skillTitle">Photography</h3>
                <p class="skillDescription hidden">
                    Mendokumentasikan momen melalui foto berkualitas untuk kebutuhan dokumentasi dan publikasi.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 skillCard">
                <img src="/content/icons/3-broadcast.png" alt="Broadcast Icon" class="icon skillImage1">
                <h3 class="skillTitle">Broadcast</h3>
                <p class="skillDescription hidden">
                    Mengelola proses broadcasting serta memastikan kelancaran teknis dan kualitas siaran.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 skillCard">
                <img src="/content/icons/4-edit.png" alt="Editing Icon" class="icon skillImage2">
                <h3 class="skillTitle">Editing</h3>
                <p class="skillDescription hidden">
                    Mengolah foto dan video menjadi konten yang berkualitas dan siap dipublikasikan.
                </p>
            </div>
        </div>
    </section>

    <section id="portofolio">
        <h1 class="heading1 portofolioHeading">OUR RECENT WORKS</h1>

        <div class="container">
            <div class="tab-wrap">
                <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
                <label for="tab1">Wisuda XXX</label>

                <input type="radio" id="tab2" name="tabGroup1" class="tab">
                <label for="tab2">STS 2025</label>

                <input type="radio" id="tab3" name="tabGroup1" class="tab">
                <label for="tab3">Simul Gempa</label>

                <input type="radio" id="tab4" name="tabGroup1" class="tab">
                <label for="tab4">UFEST 2025</label>

                <input type="radio" id="tab5" name="tabGroup1" class="tab">
                <label for="tab5">NIKON Seminar</label>

                <div class="tab__content">
                    <div class="tab__thumbnail col-6">
                        <img src="/content/portofolio/wisuda.jpg" alt="Wisuda XXX" class="portofolioImage">
                    </div>
                    <div class="tab__content__text col-6">
                        <h2 class="heading2">Wisuda XXX</h2>
                        <p class="tab__text">
                            UMN DOC berhasil mendokumentasikan momen bersejarah Wisuda XXX dengan kualitas video dan foto yang luar biasa, memberikan kenangan tak terlupakan bagi para wisudawan.
                        
                        </p>
                    </div>
                </div>
                <div class="tab__content">
                    <div class="tab__thumbnail col-6">
                        <img src="/content/portofolio/wisuda.jpg" alt="Wisuda XXX" class="portofolioImage">
                    </div>
                    <div class="tab__content__text col-6">
                        <h2 class="heading2">Sidang Terbuka Senat 2025</h2>
                        <p class="tab__text">
                            STS (Sidang Terbuka Senat) merupakan salah satu acara seremonial penting di Universitas Multimedia Nusantara yang menandai penyambutan dan pengukuhan mahasiswa baru sebagai bagian dari civitas akademika UMN. Sebagai acara formal tingkat universitas, pelaksanaannya membutuhkan koordinasi yang matang dari berbagai divisi. UMNDoc berperan dalam mengelola dokumentasi foto dan video, broadcasting, serta operasional teknis untuk memastikan seluruh rangkaian acara berjalan lancar dan terdokumentasi secara profesional.
                        
                        </p>
                    </div>
                </div>

                <div class="tab__content">
                    <div class="tab__thumbnail col-6">
                        <img src="/content/portofolio/wisuda.jpg" alt="Wisuda XXX" class="portofolioImage">
                    </div>
                    <div class="tab__content__text col-6">
                        <h2 class="heading2">Video Simulasi Gempa</h2>
                        <p class="tab__text">
                            Simulasi Gempa merupakan kegiatan rutin Universitas Multimedia Nusantara yang bertujuan meningkatkan kesiapsiagaan seluruh civitas akademika dalam menghadapi situasi darurat. Pada kegiatan ini, UMNDoc bertugas mendokumentasikan seluruh rangkaian simulasi melalui foto dan video sebagai kebutuhan dokumentasi institusi serta publikasi. Dokumentasi dilakukan untuk memastikan setiap tahapan simulasi terdokumentasi secara lengkap dan profesional.
                        
                        </p>
                    </div>
                </div>

                <div class="tab__content">
                    <div class="tab__thumbnail col-6">
                        <img src="/content/portofolio/wisuda.jpg" alt="Wisuda XXX" class="portofolioImage">
                    </div>
                    <div class="tab__content__text col-6">
                        <h2 class="heading2">UFEST 2025</h2>
                        <p class="tab__text">
                            Konser UMN Festival (UFEST) merupakan salah satu acara hiburan terbesar di Universitas Multimedia Nusantara yang menghadirkan penampilan musisi dan berbagai pertunjukan untuk mahasiswa maupun masyarakat umum. Acara ini melibatkan produksi berskala besar dengan koordinasi berbagai divisi agar seluruh rangkaian acara berjalan lancar. UMNDoc berperan dalam mengelola dokumentasi foto dan video, broadcasting, serta operasional teknis untuk mendukung kebutuhan publikasi dan memastikan setiap momen konser terdokumentasi secara profesional.

                        </p>
                    </div>
                </div>

                <div class="tab__content">
                    <div class="tab__thumbnail col-6">
                        <img src="/content/portofolio/wisuda.jpg" alt="Wisuda XXX" class="portofolioImage">
                    </div>
                    <div class="tab__content__text col-6">
                        <h2 class="heading2">Seminar IM3 x Nikon</h2>
                        <p class="tab__text">
                            Seminar Photography IM3 x Nikon 2025 merupakan seminar fotografi hasil kolaborasi IM3 dan Nikon yang diselenggarakan di Universitas Multimedia Nusantara dan UMNDoc. Kegiatan ini menghadirkan sesi berbagi materi, workshop, serta praktik langsung mengenai teknik fotografi dari fotografer profesional Nikon. UMNDoc berperan dalam mendokumentasikan seluruh rangkaian acara melalui foto dan video untuk kebutuhan dokumentasi serta publikasi.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="callback" class="callbackBackground">
        <div class="container-sm callbackWrap">
            <h1 class="heading1 ctaHeading">INTERESTED?</h1>
            <div class="row">
                <div class="col-md-6 partner ctaContent">
                    <h3 class="heading3">Work with Us</h3>
                    <a href="/partnership" class="ctaButton">PARTNERSHIP</a>
                </div>
                <div class="col-md-6 crew ctaContent">
                    <h3 class="heading3">Join Us</h3>
                    <a href="/crewmember" class="ctaButton">CREW MEMBER</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Javascript Animations -->
    <script>
        let i = 0;
        let txt = "UMN Documentation..."
        var speed = 50;

        function typeWriter(){
            if (i < txt.length){
                document.getElementById("homeTxt").textContent += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            } else {
                console.log("animation finished");
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            homeTxt.textContent = "";
            typeWriter();
        });
    </script>
    
    
</body>
</html>