body {
    font-family: 'Zalando Sans', 'Open Sans', sans-serif !important;
    font-size: 16pt;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.titleText{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 7rem;
}

h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.heading2 {
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

p{
    text-align: justify;
}

/* navbar */
.navbar-content {
    align-items: right;
}

/* home page */
#home{
    padding: 12rem 3rem;
    color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    background-color: #1a1a1a;
    background-image: url('/content/homebg.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    text-align: center;
    margin: 3rem;
    overflow-wrap: break-word;
    min-width: 0;
}

.title h1{
    color: #facc15;
}

/* about us */
#about{
    padding: 6rem 3rem;
    align-items: center;
}

.aboutText{
    text-align: justify;
    margin: 3% 12%;
    font-size: 15pt;
}

/* skills */
#skills{
    text-align: center;
    padding: 6rem 2rem;
    background-color: #facc15;
}

.skillsHeading{
    margin: 2rem 0 4rem 0;
}

.skillsRow{
    padding: 0 4rem;
}

.skillCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.skillCard:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;

}

.skillTitle{
    margin-bottom: 1rem;
}

.skillImage2{
    width: 118px;
    height: 118px;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.skillDescription{
    text-align: justify;
    margin: 0 2rem;
}

/* porto */
#portofolio{
    padding: 3rem;
    background-color: #1a1a1a;
}

.portofolioHeading{
    color: #f5f5f5;
}

:root{
    --max-tab: 6;
    --tab-wrap-border-radius: 10px;
}

.tab-wrap{
    transition: 0.3s box-shadow ease;
    border-radius: var(--tab-wrap-border-radius);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 2rem;

    &:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
  }
}

.tab{
    display: none;
}


.tab + label{
    padding: 15px;
    background: #f2f2f2;
    color: #333;
    cursor: pointer;
    user-select: none;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: none;
    transition: .3s;
}

/* First tab */

.tab:first-of-type + label{
    border-radius: 10px 0 0 0;
}

/* Middle tabs */

.tab:not(:first-of-type):not(:last-of-type) + label{
    border-radius: 0;
}

/* Last tab */

.tab:last-of-type + label{
    border-radius: 0 10px 0 0;
}

/* Hover */

.tab + label:hover{
    background: #fafafa;
}

/* Active Tab */

.tab:checked + label{
    background: white;
    font-weight: 600;
    border-bottom: 1px solid white;
    z-index: 2;
}

/* ---------- Tab Contents ---------- */

.tab__content{
    display: none;
    width: 100%;
    padding: 5rem;
    border: 1px solid #ddd;
    border-radius: 0 10px 10px 10px;
    background: white;
    order: 999;
}

/* ---------- Show Active Content ---------- */

#tab1:checked ~ .tab__content:nth-of-type(1){
    display: flex;
}

#tab2:checked ~ .tab__content:nth-of-type(2){
    display: flex;
}

#tab3:checked ~ .tab__content:nth-of-type(3){
    display: flex;
}

#tab4:checked ~ .tab__content:nth-of-type(4){
    display: flex;
}

#tab5:checked ~ .tab__content:nth-of-type(5){
    display: flex;
}

/* ---------- Image ---------- */

.tab__thumbnail img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* ---------- Text ---------- */

.tab__content__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab__text{
    line-height: 1.7;
}