body {
    font-family: 'Zalando Sans', 'Open Sans', sans-serif !important;
    font-size: 16pt;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.titleText{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 7rem;
}

h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.heading2 {
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

p{
    text-align: justify;
}

.icon:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;

}

/* navbar */
.navbar-content {
    align-items: right;
}

/* home page */
#home{
    padding: 12rem 3rem;
    color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    background-color: #1a1a1a;
    background-image: url('/content/homebg.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    text-align: center;
    margin: 3rem;
    overflow-wrap: break-word;
    min-width: 0;
}

.title h1{
    color: #facc15;
}

/* about us */
#about{
    padding: 6rem 3rem;
    align-items: center;
}

.aboutText{
    text-align: justify;
    margin: 3% 12%;
    font-size: 15pt;
}

/* skills */
#skills{
    text-align: center;
    padding: 6rem 2rem;
    background-color: #facc15;
}

.skillsHeading{
    margin: 2rem 0 4rem 0;
}

.skillsRow{
    padding: 0 4rem;
}

.skillCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.skillTitle{
    margin-bottom: 1rem;
}

.skillImage2{
    width: 118px;
    height: 118px;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.skillDescription{
    text-align: justify;
    margin: 0 2rem;
}
