body {
    font-family: 'Zalando Sans', 'Open Sans', sans-serif !important;
    font-size: 16pt;
}

.titleText{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 72pt;
}

.heading2 {
    font-size: 18pt;
    font-weight: bold;
}

/* navbar */
.navbar-content {
    align-items: right;
}